<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/listings/error.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <img src="/images/logo.png" alt="homeAway logo" />
        <a href="http://localhost:8080/listings">homeAway</a>
      </div>
      <nav class="nav">
        <a href="http://localhost:8080/listings/new">Become a host</a>
      </nav>
    </header>

    <div class="error"><p><%= message %></p></div>
  </body>
</html>
